@import "src/styles/partials/theme";

header {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  align-items: center;
  height: 40px;
  width: 100%;
  transition: background-color $transition-delay;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.themeIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $gray-300;
  }
}

.language {
  font-weight: 900;
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  transition: color $transition-delay;

  &:hover {
    color: $gray-300;
  }
}

:global(.light_theme) {
  header {
    background-color: $white;
  }
  .themeIcon {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
  .language {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
}
