@import "src/styles/partials/theme";

main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $background-dark-0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  color: $white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldsWrapper {
  position: relative;

  p {
    color: red;
    position: absolute;
    right: 0;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;

  button {
    outline: none;
    border: 2px solid chocolate;
    border-radius: 15px;
    padding: 2px 10px;
    background-color: inherit;
    color: grey;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: chocolate;
      color: white;
    }

    &:disabled {
      background-color: inherit;
      color: grey;
    }
  }

  .link {
    text-decoration: none;
    color: grey;
    transition: 0.3s;

    &:hover {
      color: chocolate;
    }
  }
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

:global(.light_theme) {
  main {
    background-color: $gray-600;
  }
  .language {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
  h1 {
    color: $black;
  }
}
