.button {
  outline: none;
  color: white;
  border: none;
}

.submit {
  background-color: rgb(15, 168, 15);
  border: 2px solid rgb(16, 143, 16);
}

.cancel {
  background-color: red;
  border: 2px solid rgb(230, 71, 71);
}
