@import "src/styles/partials/theme";

@mixin style-button-color($default, $hover, $active, $focus) {
  background-color: $default;

  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $focus;
  }
  &:active {
    background-color: $active;
  }
}

.button {
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: white;
  border: none;
  transition: 0.3s;
  padding: 6px 18px;
}

.submit {
  @include style-button-color(
    $success-200,
    $success-100,
    $success-50,
    $success-300
  );
}

.cancel {
  @include style-button-color($red-200, $red-100, $red-logo, $red-400);
}
