.filtersWrapper {
  background-color: rgb(226, 223, 223);
  width: 300px;

  .categoriesWrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    .categories {
      display: flex;
      flex-wrap: wrap;
      overflow-y: scroll;
      max-height: 100px;
      width: 100%;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgb(43, 42, 42);
      }
    }
    .categoriesError {
      color: red;
      width: 100%;
      text-align: center;
    }
  }
  .dateWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .checkboxContainer {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      font-size: 15px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
          background-color: #2196f3;
          &:after {
            display: block;
          }
        }
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
    }
  }
}
