@import "src/styles/partials/theme";

.category {
  padding: 5px;
  line-height: 1;
  font-size: 20px;
  border: 2px solid $white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin: 5px;
  position: relative;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $warning-200;
    box-shadow: 0 0 10px $warning-200;
  }

  .title {
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .icons {
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;

    .icon {
      width: 15px;
      height: 15px;
      z-index: 3;
      cursor: pointer;
    }

    .pencil {
      color: $white;
      &:hover {
        color: $warning-200;
      }
      position: absolute;
      top: 0;
      right: 0;
    }

    .trash {
      color: $white;
      position: absolute;
      bottom: 0;
      right: 0;
      &:hover {
        color: $error-200;
      }
    }
  }

  &:hover {
    .icons {
      opacity: 100%;
      right: -15px;
    }
  }
}
