@import "src/styles/partials/theme";

.category,
.tasksFormCategory {
  padding: 5px;
  line-height: 1;
  font-size: 20px;
  border: 2px solid $white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin: 5px;
  position: relative;
  width: calc(100% - 5px);
  max-width: calc(100% - 5px);
  min-width: calc(100% - 5px);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $warning-200;
    box-shadow: 0 0 10px $warning-200;
    .icons {
      opacity: 100%;
      right: -15px;
    }
  }
}

.title,
.activeTitle {
  max-width: 100%;
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
  color: $white;
  transition: color $transition-delay;
}

:global(.light_theme) .title,
.activeTitle {
  color: $black;
}

.activeTitle {
  color: $warning-200;
}

.icons {
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: $transition-delay;
}

.icon {
  width: 15px;
  height: 15px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;
}

.pencil {
  color: $white;

  &:hover {
    color: $warning-200;
  }

  position: absolute;
  top: 0;
  right: 0;
}

:global(.light_theme) .pencil {
  color: $black;

  &:hover {
    color: $warning-200;
  }
}

.trash {
  color: $white;

  &:hover {
    color: $error-200;
  }

  position: absolute;
  top: 15px;
  right: 0;
}

:global(.light_theme) .trash {
  color: $black;

  &:hover {
    color: $error-200;
  }
}

.tasksFormCategory {
  min-width: 0px;
  padding: 5px 10px;
  width: fit-content;
}

@media screen and (max-width: 1120px) {
  .category {
    .icons {
      opacity: 100%;
      right: -15px;
    }
  }

  .tasksFormCategory {
    .icons {
      opacity: 100%;
      right: -15px;
    }
  }
}
