@import 'src/styles/partials/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
  padding: 20px;
  color: white;
  transition: color $transition-delay;
}

.projectTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 30px;
}

.roadmap {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.lineWrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.category {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-shrink: 0;
  font-weight: 700;
  color: white;
  position: relative;

  &:hover {
    .icons {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: opacity $transition-delay;
  opacity: 0;
  pointer-events: none;
}

.icon {
  width: 15px;
  height: 15px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;
}

.pencil {
  color: $white;

  &:hover {
    color: $black;
  }
}

.trash {
  color: $white;

  &:hover {
    color: $black;
  }
}

.blocks {
  display: flex;
  flex-grow: 1;
}

.quarteers {
  display: flex;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.addQuarterIcon {
  width: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $warning-200;
  }
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.quarteer {
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.milestonesRow {
  display: flex;
  background-color: $background-dark-100;
  width: 100%;
  position: relative;
  transition: background-color $transition-delay;

  .milestone {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid white;
    transition: border-color $transition-delay;
  }
}

.rows {
  display: flex;
  gap: 2px;
  width: 100%;
  flex-direction: column;
  position: relative;

  .row {
    background-color: $background-dark-100;
    height: 40px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    position: relative;
    border-radius: 2px;
    transition: background-color $transition-delay;

    .task {
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      height: 100%;

      .taskTitle {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 8px;
        color: white;
        position: relative;
        z-index: 2;
        pointer-events: none;
      }

      .taskProgress {
        border-radius: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;

        &:hover {
          .progressHandle {
            opacity: 1;
          }
        }
      }
    }
  }
}

.progressHandle {
  transition:
    background-color $transition-delay,
    opacity $transition-delay;
  position: absolute;
  top: 0;
  right: -2px;
  width: 5px;
  height: 100%;
  background-color: $black;
  cursor: ew-resize;
  z-index: 3;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0;
}

.resizeLeft,
.resizeRight {
  transition:
    background-color $transition-delay,
    opacity $transition-delay;
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  z-index: 3;
  background-color: $white;
  cursor: ew-resize;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resizeLeft {
  left: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transform: translateX(-100%);
}

.resizeRight {
  right: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform: translateX(100%);
}

.task:hover {
  .resizeLeft,
  .resizeRight {
    opacity: 1;
    pointer-events: all;
  }
}

.addRowIcon {
  width: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  transition:
    color $transition-delay,
    opacity $transition-delay;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
  opacity: 0;
  pointer-events: none;

  &:hover {
    color: $warning-200;
  }
}
.rows {
  &:hover {
    .addRowIcon {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.quarterLines {
  position: absolute;
  top: 0;
  left: 210px;
  width: calc(100% - 210px);
  height: calc(100% - 80px);
  pointer-events: none;
}

.quarterLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  transition: background-color $transition-delay;
}

.line {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.addIcon {
  width: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $warning-200;
  }
}

:global(.light_theme) {
  .wrapper {
    color: black;
  }
  .rows {
    .row {
      background-color: $gray-600;
    }
  }

  .milestonesRow {
    background-color: $gray-600;

    .quarteer {
      border-color: black;
    }
  }
  .quarterLine {
    background-color: black;
  }

  .resizeLeft,
  .resizeRight {
    background-color: $black;
  }
  .progressHandle {
    background-color: $white;
  }
}
