@import 'src/styles/partials/_theme.scss';

.wrapper {
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 0 20px;
  height: calc(100% - 120px);
  max-height: 60vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90vw;
  max-width: 400px;
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
