@import "src/styles/partials/theme";

.filtersWrapper,
.mobileFiltersWrapper {
  background-color: $background-dark-0;
  width: 300px;
}

.mobileFiltersWrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.close {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}