@import "src/styles/partials/theme";

.filtersWrapper,
.mobileFiltersWrapper {
  background-color: $background-dark-0;
  width: 300px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  transition: background-color $transition-delay;
}

:global(.light_theme) {
  .filtersWrapper,
  .mobileFiltersWrapper {
    background-color: $gray-600;
    color: $black;
  }
}

.mobileFiltersWrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100%;
}

.close {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $error-200;
  }

  transition: oclor $transition-delay;
}
