@import "src/styles/partials/theme";

.wrapper {
  background-color: $background-dark-35;
  width: calc(100% - 300px);
}

.line {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;

  .createTask {
    border: 2px solid $white;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $warning-200;
      border-color: $warning-200;
      box-shadow: 0 0 10px $warning-200;
    }

    &:active {
      color: white;
      background-color: $warning-200;
    }
  }
}