@import "src/styles/partials/theme";

.wrapper {
  background-color: $background-dark-35;
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  height: 100%;
  transition: background-color $transition-delay;
}

:global(.light_theme) {
  .wrapper {
    background-color: $gray-500;
  }
  .wrapperWithTasks {
    background-color: $gray-500;
  }
}

.wrapperWithTasks {
  background-color: $background-dark-35;
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color $transition-delay;
}

.wrapper.mobileWrapper,
.wrapperWithTasks.mobileWrapper {
  width: 100%;
}

.line {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  height: 63px;
  width: 100%;
}

.createTask {
  border: 2px solid $white;
  border-radius: 15px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: color $transition-delay, border-color $transition-delay,
    box-shadow $transition-delay;

  &:hover {
    color: $warning-200;
    border-color: $warning-200;
    box-shadow: 0 0 10px $warning-200;
  }

  &:active {
    color: white;
    background-color: $warning-200;
  }
}

:global(.light_theme) .createTask {
  border-color: $black;
  color: $black;

  &:hover {
    color: $warning-200;
    border-color: $warning-200;
    box-shadow: 0 0 10px $warning-200;
  }

  &:active {
    color: white;
    background-color: $warning-200;
  }
}

.tasksWrapper {
  height: calc(100% - 63px);
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.errorMessage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: $error-200;
}

.tasks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 10px;
  width: 100%;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  padding-bottom: 60px;
}

.pagination {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.noTasks {
  width: 100%;
  color: $white;
  transition: color transition-delay;
}

@media screen and (max-width: 964px) {
  .tasks {
    justify-content: space-around;
  }
}

:global(.light_theme) .noTasks {
  color: $black;
}
