@import "src/styles/partials/theme";

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.input,
.activeInput {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: $background-dark--10;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 4;
}

.span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: $background-light-50;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.input:focus~span,
.activeInput~span {
  color: $warning-200;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}

.i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $warning-200;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
}

.input:focus~i,
.activeInput~i {
  height: 44px;
}

.show,
.hide {
  position: absolute;
  right: -25px;
  bottom: 12px;
  color: $background-light-50;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $warning-200;
  }
}