// Base Values

$transition-delay: 0.3s;

// Neutrals colors
$black: #000000;
$gray-10: #171717;
$gray-25: #262626;
$gray-50: #404040;
$gray-100: #525252;
$gray-200: #737373;
$gray-300: #a3a3a3;
$gray-400: #d4d4d4;
$gray-500: #e5e5e5;
$gray-600: #fafafa;
$white: #ffffff;

//Base Brand
$red--10: #402626;
$red-0: #5f3333;
$red-10: #873030;
$red-25: #b83838;
$red-50: #cd2b31;
$red-100: #d33d3d;
$red-200: #dc3d43;
$red-logo: #fd4444;
$red-400: #ff5b5b;
$red-500: #ff9898;
$red-600: #ffe0e0;

// Background Dark
$background-dark--10: #151515;
$background-dark-0: #1e1e1e;
$background-dark-10: #292929;
$background-dark-35: #343434;
$background-dark-50: #404040;
$background-dark-100: #4b4b4b;
$background-dark-200: #747474;

// Background Light
$background-light-0: #1f1b29;
$background-light-10: #2e2a36;
$background-light-25: #5a5761;
$background-light-50: #99969e;

// Alerts Error
$error-0: #2f0406;
$error-10: #420508;
$error-25: #6d090e;
$error-50: #970c13;
$error-100: #c11018;
$error-200: #ec131e;
$error-300: #eb4c54;
$error-400: #f17e84;
$error-500: #f5a8ac;
$error-600: #f9cdcf;
$error-700: #ffe5e7;

// Alerts Warning
$warning-0: #642009;
$warning-10: #7c2d12;
$warning-25: #9a3412;
$warning-50: #c2410c;
$warning-100: #ea580c;
$warning-200: #f97316;
$warning-300: #fb923c;
$warning-400: #fdba74;
$warning-500: #fed7aa;
$warning-600: #ffedd5;
$warning-700: #fff7ed;

// Alerts Success
$success-0: #062313;
$success-10: #08301a;
$success-25: #0b4223;
$success-50: #106034;
$success-100: #157f44;
$success-200: #189550;
$success-300: #3da96d;
$success-400: #64b98a;
$success-500: #8dd3ac;
$success-600: #ade5c6;
$success-700: #c5edd7;

// Alerts Info
$info-0: #0c4a6e;
$info-10: #075985;
$info-25: #0369a1;
$info-50: #0284c7;
$info-100: #0ea5e9;
$info-200: #38bdf8;
$info-300: #38bdf8;
$info-400: #7dd3fc;
$info-500: #bae6fd;
$info-600: #e0f2fe;
$info-700: #f0f9ff;

// Support Colors

//Amber
$amber-0: #78350f;
$amber-10: #92400e;
$amber-25: #92400e;
$amber-50: #d97706;
$amber-100: #f59e0b;
$amber-200: #fbbf24;
$amber-300: #fcd34d;
$amber-400: #fef3c7;
$amber-500: #fffbeb;

// Indigo
$indigo-0: #131620;
$indigo-10: #15192d;
$indigo-25: #192140;
$indigo-50: #1c274f;
$indigo-100: #22346e;
$indigo-200: #273e89;
$indigo-300: #2f4eb2;
$indigo-400: #3e63dd;
$indigo-500: #5373e7;
$indigo-600: #849dff;
$indigo-700: #eef1fd;

// Green
$green-0: #001a00;
$green-10: #002e00;
$green-25: #053805;
$green-50: #114a11;
$green-100: #1c6b1c;
$green-200: #2b7c2b;
$green-300: #339b33;
$green-400: #49a349;
$green-500: #64bc64;
$green-600: #90da90;
$green-700: #bae1ba;

// Violet
$violet-0: #1a001a;
$violet-10: #2e072e;
$violet-25: #390939;
$violet-50: #480d48;
$violet-100: #480d48;
$violet-200: #712871;
$violet-300: #813481;
$violet-400: #984c98;
$violet-500: #ba6cba;
$violet-600: #d78ed7;
$violet-700: #fbd3fb;

// Mint
$mint-0: #081917;
$mint-10: #05201e;
$mint-25: #052926;
$mint-50: #04312c;
$mint-100: #033a34;
$mint-200: #01453d;
$mint-300: #00564a;
$mint-400: #006d5b;
$mint-500: #70e1c8;
$mint-600: #95f3d9;
$mint-700: #25d0ab;

// Orange
$orange-0: #1a0700;
$orange-10: #2e0c00;
$orange-25: #411101;
$orange-50: #551601;
$orange-100: #7c2001;
$orange-200: #a22a02;
$orange-300: #c03f14;
$orange-400: #d6582e;
$orange-500: #e26e47;
$orange-600: #f89473;
$orange-700: #f8cabb;
