@import "src/styles/partials/theme";

@mixin style-button-icon-color($default, $hover, $active, $focus) {
  color: $default;

  &:hover {
    color: $hover;
  }

  &:focus {
    color: $focus;
  }

  &:active {
    color: $active;
  }
}

.wrapper {
  width: 100%;
  min-height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .profile {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: 2px solid $warning-200;
      border-radius: 15px;
      padding: 30px;
      position: relative;

      .buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px;

        .exit {
          font-weight: 500;
          white-space: nowrap;
          cursor: pointer;
          transition: 0.3s;
          @include style-button-icon-color($gray-600,
            $error-200,
            $error-300,
            $error-200 );
        }

        .button {
          color: $gray-600;
          font-weight: 500;
          white-space: nowrap;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: $warning-200;
          }
        }

        .delete {
          font-weight: 500;
          white-space: nowrap;
          cursor: pointer;
          transition: 0.3s;
          @include style-button-icon-color($gray-600,
            $error-200,
            $error-300,
            $error-200 );
        }
      }

      .avatar {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 4px solid $warning-200;
        text-align: center;
        background-color: $background-dark-0;
        position: relative;

        input[type="file"] {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .addPhoto {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $black;
          border-radius: 50%;
          opacity: 0;
          transition: 0.5s;
          cursor: pointer;

          .camera {
            font-size: 80px;
            color: $gray-600;
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .info {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 290px;

        .line {
          display: flex;
          justify-content: start;
          width: 100%;
          align-items: center;
          position: relative;

          .name {
            color: $warning-200;
            font-weight: 600;
            font-size: 20px;
          }

          .text {
            color: $gray-600;
            border-bottom: 2px solid $warning-200;
            margin: 10px;
            font-size: 20px;
            width: 100%;
            word-break: break-all;
          }

          .inputName {
            outline: none;
            color: $gray-600;
            border: none;
            border-bottom: 2px solid $warning-200;
            margin: 10px;
            font-size: 20px;
            width: 100%;
            padding: 0;
            display: block;
            background-color: transparent;
          }

          .check {
            width: 15px;
            height: 15px;
            z-index: 3;
            transition: 0.3s;
            cursor: pointer;
            position: absolute;
            right: -5px;

            &:hover {
              color: $green-200;
            }
          }

          .close {
            width: 15px;
            height: 15px;
            z-index: 3;
            transition: 0.3s;
            cursor: pointer;
            position: absolute;
            right: -20px;

            &:hover {
              color: $error-200;
            }
          }

          .icon {
            opacity: 0;
            width: 15px;
            height: 15px;
            z-index: 3;
          }

          .pencil {
            &:hover {
              color: $warning-200;
            }

            transition: 0.3s;
            position: absolute;
            top: calc(50% - 10px);
            right: 0;
            cursor: pointer;
          }

          &:hover {
            .icon {
              opacity: 1;
            }
          }
        }
      }
    }

    .passwordWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      width: 100%;
      border: 2px solid $warning-200;
      border-radius: 15px;

      .passEditing {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        border-radius: 15px;
      }
    }

    .error {
      width: 100%;
      position: absolute;
      bottom: -5px;
      text-align: center;
      color: $error-200;
    }
  }

  .chartWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 730px;
  }
}

@media screen and (max-width: 1480px) {
  .wrapper {
    .profile {
      width: 60%;

      .row {
        .avatar {
          width: 280px;
          height: 280px;
        }

        .info {
          .line {

            .text,
            .name,
            .inputName {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    .profile {
      width: 70%;

      .row {
        .avatar {
          width: 260px;
          height: 260px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    .profile {
      width: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .profile {
      width: 95%;

      .row {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    .profile {
      width: 95%;

      .row {
        .buttons {
          display: flex;
          flex-direction: column;
          position: relative;
          gap: 30px;
        }
      }
    }
  }
}