@import 'src/styles/partials/theme';

.wrapper {
  width: 100%;
  padding: 0 20px;
  min-height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: $background-dark-35;
  transition: background-color $transition-delay;
  padding-top: 20px;
}

:global(.light_theme) .wrapper {
  background-color: $gray-500;
}

.profile {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1400px;
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.passwordWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  border: 2px solid $warning-200;
  border-radius: 15px;

  .passEditing {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
  }
}

.error {
  width: 100%;
  position: absolute;
  bottom: -5px;
  text-align: center;
  color: $error-200;
}

.chartWrapper {
  width: 95%;
  max-width: 1400px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    .profile {
      max-width: none;
    }
  }
}
