@import "src/styles/partials/theme";

.wrapper {
  cursor: pointer;
  font-weight: 500;
  position: relative;

  .title,
  .activeTitle {
    background-color: transparent;
    padding: 5px;
    border: 1px solid $error-200;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;

    &:hover {
      background-color: $error-100;
      color: $white;
    }
  }

  .items {
    max-height: 150px;
    overflow-y: scroll;
    position: absolute;
    width: calc(100% + 8px);
    top: 36px;
    z-index: 2;

    .item,
    .activeItem {
      transition: 0.3s;
      list-style: none;
      background-color: $error-50;
      padding: 5px;
      border: 1px solid $error-200;
      border-top: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-600;

      &:hover {
        background-color: $error-100;
      }
    }

    .activeItem {
      background-color: $error-100;
    }
  }
}
