@import 'src/styles/partials/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 260px;
  width: 300px;
  justify-content: space-around;
}

.title {
  text-align: center;
  width: 100%;
  color: $white;
  transition: color $transition-delay;
}

:global(.light_theme) .title {
  color: $black;
}

.chooseColor {
  width: 100%;
  outline: none;
  border: 2px solid $warning-200;
  background: none;
  height: 34px;
  margin-top: 20px;
  outline-width: 0;

  &::-moz-color-swatch {
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
  }

  &::-webkit-color-swatch {
    border: none;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.error {
  color: $error-200;
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 100%;
  }
}
