@import 'src/styles/partials/theme';

.wrapper {
  position: relative;
}

.bell {
  font-weight: 900;
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  transition: color $transition-delay;
  cursor: pointer;

  &:hover {
    color: $gray-300;
  }
}

.dot {
  position: absolute;
  background: $error-200;
  border: 1px solid $black;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 6px;
  line-height: 10px;
  font-weight: 800;
  top: -1px;
  right: -3px;
  transition: border-color $transition-delay;
}

:global(.light_theme) .dot {
  border: 1px solid $white;
}

:global(.light_theme) .bell {
  color: $black;

  &:hover {
    color: $gray-200;
  }
}

.notificationsList {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 300px;
  background-color: $background-dark-0;
  border: 2px solid $background-dark-50;
  transition:
    background-color $transition-delay,
    border-color $transition-delay,
    color $transition-delay;
  color: $white;
  border-radius: 10px;
  z-index: 4;
  max-height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

:global(.light_theme) .notificationsList {
  background-color: $gray-600;
  border: 2px solid $gray-500;
  color: $black;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.noNotifications {
  text-align: center;
}

.errorMessage {
  text-align: center;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid $white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

:global(.light_theme) .loader {
  border: 5px solid $black;
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
