@import 'src/styles/partials/theme';

.wrapper {
  position: relative;
}

.bell {
  font-weight: 900;
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  transition: color $transition-delay;
  cursor: pointer;

  &:hover {
    color: $gray-300;
  }
}

:global(.light_theme) .bell {
  color: $black;

  &:hover {
    color: $gray-200;
  }
}

.notificationsList {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 300px;
  background-color: $background-dark-0;
  border: 2px solid $background-dark-50;
  transition:
    background-color $transition-delay,
    border-color $transition-delay,
    color $transition-delay;
  color: $white;
  border-radius: 10px;
  z-index: 4;
  max-height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

:global(.light_theme) .notificationsList {
  background-color: $gray-600;
  border: 2px solid $gray-500;
  color: $black;
}

.notificationType {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  font-weight: 600;
  opacity: 0.3;
  color: $white;
}

:global(.light_theme) .notificationType {
  color: $black;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: $white;
  background: transparent;
  transition:
    color $transition-delay,
    background $transition-delay,
    border $transition-delay;
  // cursor: pointer;
  padding: 10px;
}

:global(.light_theme) .user {
  color: $black;
}

.userName {
  display: flex;
  align-items: center;
  justify-content: end;
  word-break: break-all;
  font-weight: 600;
}

// .user:hover {
//   background: $gray-25;
//   transition: background $transition-delay;
// }

// :global(.light_theme) .user:hover {
//   background: $gray-400;
// }

.taskInfosection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 70px;
  align-items: start;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.buttons button {
  border-width: 2px;
  border-style: solid;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.accept,
.decline {
  transition: background-color $transition-delay;
}

.accept {
  border-color: $success-200;
}

.accept:hover {
  background-color: $success-200;
}

.decline {
  border-color: $error-200;
}

.decline:hover {
  background-color: $error-200;
}

.notification {
  border-top: 2px solid $background-dark-50;
}

.notification:first-child {
  border-top: none;
}

:global(.light_theme) .notification {
  border-top: 2px solid $gray-500;
}

:global(.light_theme) .notification:first-child {
  border-top: none;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.noNotifications {
  text-align: center;
}

.errorMessage {
  text-align: center;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid $white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

:global(.light_theme) .loader {
  border: 5px solid $black;
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
