@import 'src/styles/partials/theme';

.inputBox {
  position: relative;
  width: 100%;
}

.input,
.activeInput {
  display: block;
  position: relative;
  width: 100%;
  background: transparent;
  outline: none;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  border-bottom: 2px solid $background-dark-200;
  transition: border-bottom $transition-delay;
  padding-bottom: 5px;

  height: auto;
  max-height: 200px;
  overflow-y: auto;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 50px; // Начальная высота
}
