@import "src/styles/partials/theme";

.modalActive,
.modal {
  height: 100vh;
  width: 100vw;
  background-color: $black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 5;
  transition: background-color $transition-delay;
}

.modal {
  opacity: 0;
  pointer-events: none;
}

.modalActive {
  opacity: 1;
}

.modalContentActive,
.modalContent {
  padding: 20px;
  border-radius: 12px;
  background-color: $background-dark-0;
  position: relative;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 15px;
  width: 15px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $error-200;
  }
}

:global(.light_theme) {
  .modalActive,
  .modal {
    background-color: $white;
  }
  .modalContentActive,
  .modalContent {
    background-color: $gray-600;
  }
}
