@import "src/styles/partials/theme";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
  width: 300px;
  justify-content: space-around;

  $warning-200: #f97316;
  $warning-300: #fb923c;
  $warning-400: #fdba74;
}

.themeIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $gray-50;
  }
}

.language {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 45px;
  top: 8px;
  font-weight: 900;
  font-size: 20px;
  color: $gray-600;
  text-transform: uppercase;
  transition: color $transition-delay;

  &:hover {
    color: $gray-50;
  }
}

.modalContent {
  text-align: center;
  width: 100%;
  p {
    font-size: 24px;
    color: $white;
    transition: color $transition-delay;
  }
  h3 {
    font-size: 32px;
    color: $warning-200;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.error {
  color: $error-200;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 100%;
  }
}

:global(.light_theme) .modalContent {
  .themeIcon {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
  .language {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
  p {
    color: $black;
  }
}
