@import "src/styles/partials/theme";

.wrapper {
  background-color: $background-dark-0;
  width: 400px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: background-color $transition-delay;

  @media screen and (max-width: 768px) {
    width: 300px;
  }

  @media screen and (max-width: 425px) {
    width: 100%;
  }
}

:global(.light_theme) .wrapper {
  background-color: $gray-600;
}

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  word-break: break-all;
  text-align: center;
}

.completedWrapper {
  opacity: 0.6;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.statusCompleted,
.statusInProgress {
  width: 100%;
  font-weight: 600;
}

.statusCompleted {
  color: $success-200;
}

.statusInProgress {
  color: $error-200;
}

.title {
  font-size: 20px;
  margin-top: 20px;
  color: $white;
  word-break: break-word;
  transition: color $transition-delay;
}

:global(.light_theme) .title {
  color: $black;
}

.deadline {
  color: $error-200;
  margin-top: 10px;
  text-align: end;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: $indigo-500;
  word-break: break-all;
  transition: 0.3s;

  &:hover {
    color: $info-200;
  }
}

:global(.light_theme) .link {
  color: $indigo-500;
  word-break: break-all;
  transition: 0.3s;

  &:hover {
    color: $info-200;
  }
}

.description {
  margin-top: 10px;
  color: $white;
  word-break: break-word;
  transition: color $transition-delay;
}

:global(.light_theme) .description {
  color: $black;
}

.sharedTitle {
  color: $success-200;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sharedWrapper {
  max-height: 100px;
  max-width: 100%;
  overflow-y: auto;
}

.username {
  color: $warning-200;
  max-width: 100%;
  word-break: break-all;
}
