.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 206px;
  width: 262px;
  .title {
    text-align: center;
    width: 100%;
  }
  .chooseColor {
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: none;
    background: none;
    height: 40px;
  }
  .chooseTitle {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    margin: 2px;
    margin-top: 0;

    &:hover,
    &:focus {
      border: 2px solid orange;
      border-radius: 5px;
      margin: 0;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
