.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 206px;
  width: 262px;
  .title {
    text-align: center;
    width: 100%;
  }
  .chooseColor {
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: none;
    background: none;
    height: 40px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  .error {
    color: red;
  }
}
