@import 'src/styles/partials/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 160px;
  width: 400px;
  justify-content: space-around;
  margin-top: 10px;
}

.title {
  text-align: center;
  width: 100%;
}

.checkBox {
  width: 100%;
  align-self: flex-start;
  margin: 20px 0;
}

.linkRow {
  display: flex;
  position: relative;
}

.removeLink {
  position: absolute;
  right: -15px;
  bottom: 15px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $error-200;
  }
}

.inputDate {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: 2px solid $warning-200;
  color: $warning-200;
  width: 100%;

  &::-webkit-calendar-picker-indicator {
    background-color: $warning-200;
    cursor: pointer;
    padding: 3px 5px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  width: 100%;
}

.assignYourself {
  color: $white;
  transition: color $transition-delay;
  margin-top: 10px;
}

:global(.light_theme) .assignYourself {
  color: $black;
}

.assignYourself:hover {
  color: $success-200;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
}
