@import "src/styles/partials/theme";

header {
  display: flex;
  justify-content: space-between;
  background-color: $background-dark--10;
  align-items: center;
  height: 40px;
  width: 100%;
  transition: background-color $transition-delay;
}

:global(.light_theme) header {
  background-color: $white;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.themeIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $gray-300;
  }
}

:global(.light_theme) {
  .themeIcon {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
}

.language {
  font-weight: 900;
  font-size: 20px;
  color: $gray-600;
  text-transform: uppercase;
  transition: color $transition-delay;

  &:hover {
    color: $gray-300;
  }
}

:global(.light_theme) {
  .language {
    color: $black;

    &:hover {
      color: $gray-50;
    }
  }
}

nav {
  display: flex;
  width: calc(100% - 30px);
  justify-content: flex-end;
  padding-right: 10px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $gray-600;
  transition: color $transition-delay;

  &:hover {
    color: $warning-200;
  }
}

:global(.light_theme) {
  a {
    color: $black;

    &:hover {
      color: $warning-200;
    }
  }
}

.isActive {
  display: none;
}