header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 197, 197);
    align-items: center;

    .logo {
        width: 40px;
        height: 40px;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .isActive {
        display: none;
    }
}