@import "src/styles/partials/theme";

header {
  display: flex;
  justify-content: space-between;
  background-color: $background-dark--10;
  align-items: center;
  height: 40px;
  width: 100%;

  .logo {
    width: 30px;
    height: 30px;
  }

  nav {
    display: flex;
    width: calc(100% - 30px);
    justify-content: flex-end;
    padding-right: 10px;

    a {
      text-decoration: none;
      color: $gray-600;
    }
  }

  .isActive {
    display: none;
  }
}
