@import 'src/styles/partials/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: $white;
}

:global(.light_theme) .title {
  color: $black;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;

  button {
    font-weight: 600;
    font-size: 14px;
  }

  .accept {
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $success-200;

    &:hover {
      background-color: $success-100;
    }
    &:focus {
      background-color: $success-300;
    }
    &:active {
      background-color: $success-50;
    }
  }
}

.cancel {
  transition: 0.3s;
  &:hover {
    color: $error-200;
  }
}

:global(.light_theme) .cancel {
  color: $black;

  &:hover {
    color: $error-200;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  margin: 40px;
  position: relative;
}

.activeAvatar {
  box-shadow: 0 0 20px $warning-200;
  border-radius: 50%;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatarEffect {
  width: 120%;
  height: 120%;
  position: absolute;
  left: calc((1 - 1.2) / 2 * 100%);
  top: calc((1 - 1.2) / 2 * 100%);
  z-index: 2;
  max-width: none;
  pointer-events: none;
  border-radius: 0%;
}

.avatarsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}

.avatarElement {
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.border {
  border: 2px solid $warning-200;
}

.emptyEffect {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatarElement .avatar {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.effectPreview {
  border: 2px solid $warning-200;
  border-radius: 15px;
  background-color: $background-dark-10;
  transition: background-color $transition-delay;
}

:global(.light_theme) .effectPreview {
  background-color: $gray-600;
}
