@import 'src/styles/partials/theme';

.tag {
  padding: 2px 6px;
  border-radius: 10px;
  border: 2px solid $warning-200;
  text-align: center;
}

.hoverable {
  transition:
    border-color $transition-delay,
    color $transition-delay;
  cursor: pointer;

  &:hover {
    color: $warning-200;
    border-color: $warning-200 !important;
  }
}
