@import 'src/styles/partials/theme';

.wrapper {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $white;
  transition: color transition-delay;
}

:global(.light_theme) .wrapper {
  color: $black;
}

.title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
