@import 'src/styles/partials/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.title {
  text-align: center;
  color: $white;
  transition: color $transition-delay;
}

:global(.light_theme) .title {
  color: $black;
}

.subtasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.subTask {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $gray-10;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background $transition-delay;
}

:global(.light_theme) .subTask {
  background: $gray-500;
}

.subTask:hover {
  background: $gray-25;
  transition: background $transition-delay;
}

:global(.light_theme) .subTask:hover {
  background: $gray-400;
}

.subTaskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTaskTitle {
  color: $warning-200;
  text-align: start;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  word-break: break-all;
}

.subTaskInfo {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow-y: hidden;
  height: auto;
  color: $white;
  transition:
    max-height $transition-delay,
    color $transition-delay;
}

:global(.light_theme) .subTaskInfo {
  color: $black;
}

.activeSubTaskInfo {
  max-height: 100px;
  overflow-y: visible;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.subTaskUser {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.subTaskUserAvatar {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid $warning-200;
}

.titleSubTaskAvatar {
  opacity: 1;
  transition:
    opacity $transition-delay,
    width $transition-delay,
    margin-right $transition-delay,
    border $transition-delay;
  margin-right: 20px;
}

.titleSubTaskAvatarActive {
  opacity: 0;
  width: 0;
  margin-right: 0;
  border: none;
}

.subTaskRejected,
.subTaskCompleted,
.subtaskInProgress {
  white-space: nowrap;
}

.subTaskRejected {
  color: $error-200;
}

.subTaskCompleted {
  color: $success-200;
}

.subtaskInProgress {
  color: $amber-200;
}

.subTaskDescription {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
  width: 100%;
}

.subTaskDeadline {
  text-align: end;
  font-size: 16px;
  font-weight: 400;
  color: $error-200;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pencil {
  color: $white;

  &:hover {
    color: $warning-200;
  }
}

.trash {
  color: $white;
  transition: color $transition-delay;

  &:hover {
    color: $error-200;
  }
}

:global(.light_theme) .icons {
  .pencil {
    color: $black;

    &:hover {
      color: $warning-200;
    }
  }

  .trash {
    color: $black;

    &:hover {
      color: $error-200;
    }
  }
}
