@import 'src/styles/partials/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
  width: 300px;
  justify-content: space-around;

  .modalContent {
    text-align: center;
    width: 100%;
    p {
      font-size: 24px;
    }
    h3 {
      font-size: 32px;
      color: rgb(64, 102, 254);
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .error {
    color: $error-200;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 100%;
  }
}
