@import "src/styles/partials/theme";

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 15px;
  color: $white;
  transition: color $transition-delay;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $error-50;

      &:after {
        display: block;
      }
    }

    &:checked ~ .roundedCheckMark {
      background-color: $error-50;

      &:after {
        display: block;
      }
    }
  }

  .checkmark,
  .roundedCheckMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $error-200;

    &:after {
      content: "";
      position: absolute;
      display: none;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .roundedCheckMark {
    background-color: transparent;
    transition: border $transition-delay, background-color $transition-delay;
    border: 2px solid $white;
  }

  &:hover input ~ .checkmark {
    background-color: $error-100;
  }

  &:hover input ~ .roundedCheckMark {
    background-color: $error-50;
  }
}

:global(.light_theme) {
  .roundedCheckMark {
    border: 2px solid $black;
  }
}

.checkmark {
  &::after {
    left: 9px;
    top: 5px;
  }
}

.roundedCheckMark {
  border-radius: 100%;
  background-color: transparent;

  &::after {
    left: 9px;
    top: 6px;
  }
}

:global(.light_theme) {
  .checkboxContainer {
    color: $black;
  }
}
