@import 'src/styles/partials/theme';

.row {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  border: 2px solid $warning-200;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  background-color: $background-dark-10;
  transition: background-color $transition-delay;
  position: relative;

  .backgroundEffect {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    border-radius: 15px;
  }
}

:global(.light_theme) .row {
  background-color: $gray-600;
}

.idWrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 600;
  cursor: pointer;
  color: $white;
  transition:
    background-color $transition-delay,
    color $transition-delay;

  &:hover {
    color: $warning-200;
  }
}

:global(.light_theme) .idWrapper {
  color: $black;

  &:hover {
    color: $warning-200;
  }
}

.info {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
