.category {
  padding: 5px;
  line-height: 1;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin: 5px;
}
