@import "src/styles/partials/theme";

.categoriesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  .categories {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 100px;
    width: 100%;
    padding-right: 20px;
  }
  .addCategory {
    border: 2px solid $white;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    &:hover {
      color: $warning-200;
      border-color: $warning-200;
      box-shadow: 0 0 10px $warning-200;
    }
  }
  .categoriesError {
    color: $error-200;
    width: 100%;
    text-align: center;
  }
}
