@import 'src/styles/partials/theme';

.inputBox {
  position: relative;
  width: 100%;
}

.input,
.activeInput {
  display: block;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  resize: none;
  overflow: auto;
  border-bottom: 2px solid $background-dark-200;
  transition:
    border-bottom $transition-delay,
    height $transition-delay,
    color $transition-delay;
  padding-bottom: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.input:focus,
.input:hover,
.activeInput {
  border-bottom: 2px solid $info-200;
}

:global(.light_theme) {
  .input,
  .activeInput {
    color: black;
  }
}
