@import 'src/styles/partials/theme';

.aside {
  width: 100%;
  border-radius: 15px;
  background-color: $background-dark-10;
  transition: background-color $transition-delay;
}

:global(.light_theme) .aside {
  background-color: $gray-600;
}

.form {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0 30px 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
  padding-right: 30px;

  .fieldsWrapper {
    position: relative;
    flex-grow: 1;
    max-width: 300px;

    p {
      color: $error-200;
      position: absolute;
      right: 0;
    }
  }
}

.button {
  margin-top: 40px;
  margin-left: 40px;
  outline: none;
  background-color: inherit;
  color: $warning-200;
  border-radius: 15px;
  padding: 5px 10px;
  border: 2px solid $warning-200;
  transition: 0.3s;

  &:hover {
    background-color: $warning-200;
    color: $white;
  }

  &:disabled {
    color: $warning-200;
    background-color: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .aside {
    .form {
      flex-direction: column;
      align-items: center;
      .wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-right: 0;

        .fieldsWrapper {
          width: 100%;
          padding-right: 10px;
          max-width: none;
        }
      }
    }
  }
}
