.aside {
  width: 100%;
  border-radius: 15px;

  .form {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0 30px 30px;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      .fieldsWrapper {
        max-width: 250px;
        position: relative;
        p {
          color: red;
          position: absolute;
          right: 0;
        }
      }
    }
    .button {
      margin-top: 40px;
      outline: none;
      background-color: inherit;
      color: chocolate;
      border-radius: 15px;
      padding: 5px 10px;
      border: 2px solid chocolate;
      transition: 0.3s;

      &:hover {
        background-color: chocolate;
        color: white;
      }
      &:disabled {
        color: chocolate;
        background-color: inherit;
      }
    }
  }
}
