@import 'src/styles/partials/theme';

.wrapper {
  color: white;
  height: calc(100% - 80px);
  width: 100%;
  background-color: $background-dark-35;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: $background-dark-35;
  transition:
    background-color $transition-delay,
    color $transition-delay;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.addColumnButton {
  align-self: flex-start;
  background-color: $info-200;
  color: $white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-delay;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    background-color: $amber-300;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gear {
  color: white;
  width: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $warning-200;
  }
}

.user {
  color: white;
  width: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $info-200;
  }
}

.tag {
  color: white;
  width: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;

  &:hover {
    color: $amber-200;
  }
}

.addTaskButton {
  color: white;
  cursor: pointer;
  transition: color $transition-delay;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    color: $warning-200;
  }
}

.columns {
  display: flex;
  gap: 20px;
  height: calc(100% - 44px);
  width: 100%;
  overflow-x: auto;
}

.column {
  background-color: $background-dark-10;
  transition: background-color $transition-delay;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 15px;
  height: 15px;
  z-index: 3;
  cursor: pointer;
  transition: color $transition-delay;
}

.pencil {
  color: $white;

  &:hover {
    color: $warning-200;
  }
}

:global(.light_theme) .pencil {
  color: $black;

  &:hover {
    color: $warning-200;
  }
}

.trash {
  color: $white;

  &:hover {
    color: $error-200;
  }
}

:global(.light_theme) .trash {
  color: $black;

  &:hover {
    color: $error-200;
  }
}

.deleteTaskIcon {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  right: 2px;
  bottom: 2px;
  transform: translateX(100%);
  transition:
    color $transition-delay,
    opacity $transition-delay,
    transform $transition-delay;
  color: $white;

  &:hover {
    color: $error-200;
  }
}

:global(.light_theme) .deleteTaskIcon {
  color: $black;

  &:hover {
    color: $error-200;
  }
}

.task:hover {
  .deleteTaskIcon {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
  }
}

.columnTitle {
  font-size: 18px;
  font-weight: bold;
  color: $warning-200;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50px;
  flex-grow: 1;
  overflow: auto;
}

.task {
  position: relative;
  overflow-x: hidden;
  gap: 10px;
  background-color: $background-dark-0;
  color: white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition:
    background-color $transition-delay,
    color $transition-delay;

  &:hover {
    background-color: $success-100;
  }
}

.taskContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.title {
  // word-break: break-all;
  word-break: break-word;
  text-align: left;
  flex-shrink: 1;
  flex-grow: 1;
  width: 20px;
}

.assignedUsers {
  display: flex;
  gap: 5px;

  .userAvatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }
}

.tags {
  display: flex;
  justify-content: start;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}

:global(.light_theme) {
  .wrapper {
    background: $gray-500;
    color: black;
  }
  .column {
    background-color: $gray-600;
  }
  .addTaskButton {
    color: black;
  }
  .task {
    background-color: $gray-500;
    color: black;
    &:hover {
      background-color: $success-500;
    }
  }

  .gear {
    color: black;
    width: 20px;

    &:hover {
      color: $warning-200;
    }
  }

  .user {
    color: black;

    &:hover {
      color: $info-200;
    }
  }

  .tag {
    color: black;

    &:hover {
      color: $amber-200;
    }
  }
}

.error {
  color: $error-200;
  text-align: center;
  width: 100%;
}

.noColumns {
  color: $warning-200;
  text-align: center;
  width: 100%;
}
