@import 'src/styles/partials/theme';

.wrapper {
  height: calc(100% - 80px);
  width: 100%;
  background-color: $background-dark-35;
}

:global(.light_theme) .wrapper {
  background-color: $gray-500;
}
