@import "src/styles/partials/theme";

.wrapper {
  width: 100%;
  min-height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: $background-dark-35;
  transition: background-color $transition-delay;
}

:global(.light_theme) .wrapper {
  background-color: $gray-500;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: $white;
  transition: color $transition-delay;
}

:global(.light_theme) h1 {
  color: $black;
}

.accordion {
  width: 100%;
  max-width: 400px;
}

.item {
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.question {
  padding: 10px;
  background-color: $background-dark-0;
  color: $white;
  transition: background-color $transition-delay color $transition-delay;

  &:hover {
    background-color: $background-dark-10;
  }
}

:global(.light_theme) .question {
  background-color: $gray-600;
  color: $black;

  &:hover {
    background-color: $gray-400;
  }
}

.answer {
  background-color: $background-dark-0;
  transition: background-color $transition-delay, max-height $transition-delay;
  max-height: 0px;
  height: auto;
  overflow: hidden;
}

:global(.light_theme) .answer {
  background-color: $gray-600;
  color: $black;
}

.active {
  .question {
    background-color: $background-dark-10;
    transition: background-color $transition-delay;
  }

  .answer {
    max-height: 300px;
    background-color: $background-dark-0;
    transition: background-color $transition-delay, max-height $transition-delay;
  }
}

:global(.light_theme) .active {
  .question {
    background-color: $gray-400;
  }

  .answer {
    background-color: $gray-600;
  }
}

.answerBackground {
  padding: 10px;
  border-radius: 20px;
}