@import 'src/styles/partials/theme';

.inputLine {
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
  transition: background $transition-delay;
  transition:
    color $transition-delay,
    border-color $transition-delay,
    box-shadow $transition-delay;
  flex-grow: 1;
  max-width: 300px;

  &:hover {
    border-color: $warning-200;
  }
}

.active {
  border-color: $warning-200;
}

:global(.light_theme) .inputLine {
  border-color: $black;
  color: $black;
}

.input {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  color: $white;
  transition: color $transition-delay;
}

:global(.light_theme) .input {
  color: $black;
}

.searchIcon {
  color: $gray-400;
  margin-left: 20px;
  font-size: 25px;
  transition: color $transition-delay;
}

:global(.light_theme) .searchIcon {
  color: $gray-25;
}
